.plansup-main{
    position:absolute;
    left: 0;
    top:30;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 84px;
}

.plansup-common-page-header{
    padding: 14px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dcdfe6;
    .options{
        flex-shrink: 0;
        margin-left: auto;
    }
}

.plansup-common-page-body{
    margin: 0 auto;
    width: 100%;
    height: calc(100vh-31px) ;
    overflow: auto;
    overflow-x: hidden;
    padding: 50px 30px;
}

.global-padding-left-7dot5{
    padding-left: 7.5px;
}

.global-padding-right-7dot5{
    padding-right: 7.5px;
     margin-bottom: 24px;
}

.region-item{
    div{
          display: inline-block;
    }
}
.global-inline-div{
    display: inline-block;
}

